body{
    background-color: antiquewhite;
}
table{
    border: 2px solid black;
    background-color: lightblue;
}
thead{
    background-color: lightsteelblue;
    font-style: italic;
    color: darkblue;
}
tbody{
    font-style: italic;
    color: rgb(6, 6, 46);
    font-family: monospace,Verdana, Geneva, Tahoma, sans-serif;
}
.data{
    font-style: italic;
}
h2{
    font-style: italic;
    color: rgb(31, 31, 114);
}